<div class="color-back">
  <div class="row row-cols-1 row-cols-md-3 my-4">
    <div class="card text-bg-info mb-3 mx-auto">
      <div class="card-body">
        <h5 class="card-title">Tareas Totales</h5>
        <p class="card-text">{{  pendingTasksCount + completedTasksCount }}</p>
      </div>
    </div>
    <div class="card text-bg-success mb-3 mx-auto">
      <div class="card-body">
        <h5 class="card-title">Tareas Completadas</h5>
        <p class="card-text">{{  completedTasksCount  }}</p>
      </div>
    </div>
    <div class="card text-bg-danger mb-3 mx-auto">
      <div class="card-body">
        <h5 class="card-title">Tareas Pendientes</h5>
        <p class="card-text">{{ pendingTasksCount }}</p>
      </div>
    </div>
  </div>

  <hr class="my-5 border border-3 border-black" />

  <!-- Tabla -->
  <div class="table-responsive mx-5 shadow-lg">
    <table class="table table-bordered table-hover align-middle shadow-lg">
      <thead class="table-dark text-center">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tarea</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Límite</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let task of tasks">
          <th scope="row">{{task.id}}</th>
          <td>{{ task.titulo }}</td>
          <td>{{ task.descripcion }}</td>
          <td>{{ task.fechaInicial | date: 'shortDate' }}</td>
          <td>{{ task.fechaLimite | date: 'shortDate' }}</td>
          <td>{{ task.Tipo }}</td>
          <td>{{ task.isCompleted ? 'Completada' : 'Pendiente' }}</td>
          <td>
            <button
              class="btn btn-success btn-sm me-2"
              (click)="toggleCompletion(task)"
            >
              {{ task.isCompleted ? 'Marcar Pendiente' : 'Marcar Completada' }}
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

